body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}
  
header {
    width: 1200px;
    height: 80px;
    margin: 0 0 50px 0;
    padding: 0;
    background: #D7650C;
    color: white;
}
header h1 {
    margin: 0;
    padding: 25px;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}
  
footer {
    position:absolute;
    bottom: 0;
    width: 1200px;
    height: 80px;
    margin: 0;
    padding: 20px 0px 0px 0;
    text-align: center;
    background: #D7650C;
    color: rgb(248, 247, 247);
}



nav{
    display: inline-block;
    text-align: center;
    width: 1200px;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 2em;
}

table {
    border-collapse: collapse;
}
table.list {
    width: 100%;
}
table.list tr td {
    border: 1px solid #999999;
}
table.list tr th {
    border: 1px solid #D7650C;
    background: #D7650C;
    color: white;
    text-align: left;
}

#content {
    width:1000px;
}

/* Forms */
dl {
    clear: both;
    overflow: hidden; 
}
  
dt {
    float: left;
    font-weight: bold;
    width: 125px;
}
  
dd {
    float: left;
    margin-left: 1em;
}
  
#operations {
    clear: both;
    margin: 1em 0 1em 0;
}
  
